# --- Python & ML ---
__pycache__/
.venv/
*.pyc
.ipynb_checkpoints/

# --- C++ Build & Binaries ---
bin/
obj/
out/
build/
*.exe
*.o
*.obj
*.so
*.dylib
*.pdb
*.ilk
*.exp
*.lib

# --- IDE Specific (Visual Studio / VS Code) ---
.vs/
.vscode/
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.db
*.opendb

# --- Graphics & Temp ---
*.log
.DS_Store
Thumbs.db
